html,
body {
  min-width: 320px;
}

body {
  margin: 0;
  //background-color: rgba(255, 236, 246, 0.8);
  font-family: -apple-system, Montserrat, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.rdp-months {
  justify-content: center;
  margin: 0;
  padding: 0;
}
